<!DOCTYPE html>
<html>
<head>
	<title>E-Commerce</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/style_cart.css">
<body>
	<div class="cont">
		<div class="nav-bar">
			<a href="/">
			<img src="/static/img/c1.png" width="370px">
			</a>
				<nav>
					<ul>
						<li><a >Home</a></li>
						<li><a >About Us</a></li>
						<li><a >Contact</a></li>
						<li><a> Cart</a></li>

					</ul>
				</nav>
				<br>
		</div>
	</div>
	<div class="display">
		<center><h1>Shopping Cart</h1></center>	
		
	</div>


</body>
<section>
	<div class="header">
			<header>
				<div class="col"><h2>Products</h2></div>
				<div class="col"><h2>Qty</h2></div>
				<div class="col"><h2>Price</h2></div>
			</header>
			{%set priceSum=[]%}
			{% for i in range(imgLen)%}
			<div class="row">
				<div class="col"><img src="{{url_for('static',filename=img[i][3])}}"><strong>{{img[i][1]}}</strong>
				</div>
				{% set name=img[i][1]%}
				{% set qty=IQL[name]%}
				<p id='list'>{{priceSum.append(price[i]*qty) }}</p>
				<div class="col"><p>{{IQL[name]}}</p></div>
				<div class="col"><p>${{price[i]*qty}}</p></div>
			</div>
			{%endfor%}
			<strong id='SubTotal'>Sub Total  :   ${{priceSum | sum}}</strong>
			<center><a class="payment"><button id='log_cart'>Make Purchase</button></a></center>
			</div>
			<div class="login_popup">
				<div class="form_log">
					<div class="close">+</div>
					<h1>LOGIN</h1>

					<form action="/confirmPurchase" method="post">
					<!-- <input type="text" name="name" placeholder="Name" required>{{name}}<br>
					<input type="tel" name="pno" required placeholder="Mobile Number" pattern="[+,9,1]{3}[6789][0-9]{9}" title="Please Enter a valid Phone Number,Format :+919876543210" value="+91">{{otp}}<br> -->
						<!-- <label>Enter Your OTP</label> -->
						<input class="otp" type="password" name="pass" placeholder="Enter Your OTP" required>
						<!-- <input type="hidden" name="otp"><br> -->
						<center><button class="vfy">Verify</button></center>
						<br>
						<!-- <button>Confirm Purchase</button> -->
						</form>
				</div>				
			</div>

		</section>
		<script type="text/javascript">
			document.getElementById('log_cart').addEventListener('click',function(){
				document.querySelector('.login_popup').style.display = 'flex';
			});
			document.querySelector('.close').addEventListener('click',function(){
				document.querySelector('.login_popup').style.display = 'none';
			});

		</script>
</html>